@font-face {
  font-family: 'MagniteLavingo';
  src: url('/fonts/Magnite Lavingo.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.primary-padding {
  padding-left: 2rem;
  padding-right: 2rem;
}